<h1>{{ VM.Quiz.title }}</h1>
<p>{{ VM.Quiz.description }}</p>
<h3>{{ VM.progress }}% complete</h3>
<progress class="progress progress-success" value="{{ VM.progress }}" max="100">{{ VM.progress }}%</progress>


<div class="card">
    <div class="text-lg-center">
        <img ng-src="{{ VM.Question.img }}" style="width: auto; height: auto;max-width: 50%;max-height: 50%; align-self: center">
    </div>
    <div class="card-block">
        <h4 class="card-title">{{ VM.Question.title }}</h4>
    </div>

    <div class="card-footer">
        <question-list ng-model="VM.Question" on-answer="VM.answer"></question-list>
    </div>

    <button class="btn btn-lg btn-success btn-block" ng-click="VM.nextQuestion()">Answer</button>
</div>
