<div>
    <div ng-if="VM.Question.question_type == 'mutiplechoice-single'">
        <div class="radio" ng-repeat="answer in VM.questions"
             ng-class="{'alert alert-success' : VM.correctQuestions.indexOf(answer.a_id) != -1 && VM.submitted}">
            <label>
                <input type="radio" name="answer" ng-value="answer" ng-click="VM.setAnswer(answer)"  ng-hide="VM.submitted">
                {{ answer.caption }}
            </label>
        </div>
    </div>

    <div ng-if="VM.Question.question_type == 'mutiplechoice-multiple'">
        <div class="checkbox" ng-repeat="answer in VM.questions"
             ng-class="{'alert alert-success' : VM.correctQuestions.indexOf(answer.a_id) != -1 && VM.submitted}">
            <label>
                <input type="checkbox" name="answer" ng-value="answer" ng-click="VM.setAnswer(answer)"  ng-hide="VM.submitted">
                {{ answer.caption }}
            </label>
        </div>
    </div>

    <div ng-if="VM.Question.question_type == 'truefalse'">
        <div class="radio" ng-repeat="answer in VM.boolValues"
             ng-class="{'alert alert-success' : VM.correctQuestions.indexOf(answer.val) != -1 && VM.submitted}">
            <label>
                <input type="radio" name="answer" ng-value="answer" ng-click="VM.setAnswer(answer.val)" ng-hide="VM.submitted">
                {{ answer.caption }}
            </label>
        </div>
    </div>

    <button class="btn btn-lg btn-success btn-block" ng-click="VM.answerQuestion()">Answer</button>
</div>
